---
# task file for bashrc_edit

- name: Ensure whereis_n_ls function is idempotently added to .bashrc
  ansible.builtin.blockinfile:
    path: "/home/{{ ansible_user }}/.bashrc"
    block: |
      whereis_n_ls() {
          ls -l $(whereis "$1" | awk '{for(i=2;i<=NF;i++) print $i}' | tr '\n' ' ')
      }
    marker: "# {mark} WHEREIS_N_LS FUNCTION BLOCK"
    create: yes
    mode: 0644
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    backup: yes

- name: Define bashrc aliases and environment variables
  ansible.builtin.blockinfile:
    path: "/home/{{ ansible_user }}/.bashrc"
    block: |
      # --- added by Ansible ---
      alias unlock_brave='rm -v $HOME/.config/BraveSoftware/Brave-Browser/SingletonLock'
      alias rootfind='sudo find / \
        -path "/.snapshots" -o -path "/home/.snapshots" -o -path "/run" \
        -prune -o '
      alias clear_GPUCache='find ~/.config -type d -name GPUCache -exec rm -r {} \;'
      alias pj_update_fedora='sudo dnf5 upgrade --refresh -y && sudo dnf5 autoremove -y && sudo dnf5 clean all'

      export VISUAL=nvim
      export EDITOR=nvim
    marker: "# {mark} ANSIBLE MANAGED ALIASES AND EXPORTS"
    create: yes
    mode: 0644
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    backup: yes

- name: Ensure .bashrc ends with an empty line
  ansible.builtin.lineinfile:
    path: "/home/{{ ansible_user }}/.bashrc"
    regexp: "^$"
    line: ""
    insertafter: EOF
    create: yes
    mode: 0644
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
