# tasks to install brave
# - name: Install dnf-plugins-core
#   ansible.builtin.package:
#     name: dnf-plugins-core
#     state: lastest
#   become: true

- name: Add Brave Browser GPG key
  ansible.builtin.rpm_key:
    key: https://brave-browser-rpm-release.s3.brave.com/brave-core.asc
    state: present
  become: true

- name: Add Brave Browser repository
  ansible.builtin.yum_repository:
    name: brave-browser
    description: Brave Browser Repository
    baseurl: https://brave-browser-rpm-release.s3.brave.com/x86_64/
    gpgcheck: yes
    gpgkey: https://brave-browser-rpm-release.s3.brave.com/brave-core.asc
    enabled: yes
  become: true

- name: Install Brave browser
  ansible.builtin.package:
    name: brave-browser
    state: present
  become: true
