---
# playbooks/vm_setup.yml
- name: Create and run VMs from Fedora ISO images
  hosts: workstation
  gather_facts: true
  become: true

  # Include VM definitions from vars file
  vars_files:
    - ../vars/vms.yml

  roles:
    - virt_setup
