---
# roles/virt_setup/tasks/main.yml
- name: Create virtual machines from ISO images
  community.libvirt.virt_install:
    name: "{{ item.name }}"
    uri: qemu:///system
    memory: "{{ item.memory }}"
    vcpus: "{{ item.vcpus }}"
    disks:
      - size: "{{ item.disk }}"
        pool: "{{ image_pool }}"
        format: qcow2
    cdrom: "{{ image_path }}/{{ item.iso }}"
    # Configure SPICE graphics with clipboard sharing
    graphics:
      type: spice
      listen: 0.0.0.0
    # Configure channels for SPICE features (single mapping expected)
    channel:
      type: spicevmc
    # USB redirection through SPICE was removed here because the collection
    # expects a mapping for 'redirdev' (not a list) in this version.
    # If you need USB redirection, add a properly formatted mapping for
    # your collection version or configure the XML manually later.
    # Configure audio through SPICE
    sound:
      model: ich9
    # Configure clock to use local time
    clock:
      offset: localtime
    networks:
      - network: default
    osinfo:
      name: fedora-unknown
      require: false
    autostart: no  # Don't start VMs automatically
    state: present
  register: virt_result
  ignore_errors: true
  loop: "{{ vms_to_create }}"

- name: Check qcow2 files were created
  ansible.builtin.stat:
    path: "{{ image_path }}/{{ item.name }}.qcow2"
  register: disk_stat
  loop: "{{ vms_to_create }}"
  loop_control:
    label: "{{ item.name }}"

- name: Report created disks
  ansible.builtin.debug:
    msg: "{{ item.item.name }}: {{ 'present' if item.stat.exists else 'missing' }} (size={{ item.stat.size|default('N/A') }})"
  loop: "{{ disk_stat.results }}"
