---
# roles/virt_setup/tasks/main.yml
- name: Create virtual machines from ISO images
  community.libvirt.virt:
    name: "{{ item.name }}"
    state: running
    uri: qemu:///system
    memory: "{{ item.memory }}"
    vcpus: "{{ item.vcpus }}"
    disk:
      - name: "{{ item.name }}.qcow2"
        size: "{{ item.disk }}"
        pool: "{{ image_pool }}"
        type: qcow2
    os_type: linux
    arch: x86_64
    boot:
      hd: true
      cdrom: "{{ item.iso }}"
    network:
      - network: default
        type: network
  register: virt_result
  ignore_errors: true
  loop: "{{ vms_to_create }}"

- name: Show the result of VM creation
  debug:
    var: virt_result
