---
# roles/virt_setup/tasks/main.yml
- name: Create virtual machines from ISO images
  community.libvirt.virt_install:
    name: "{{ item.name }}"
    uri: qemu:///system
    memory: "{{ item.memory }}"
    vcpus: "{{ item.vcpus }}"
    disks:
      - size: "{{ item.disk }}"
        pool: "{{ image_pool }}"
        format: qcow2
    cdrom: "{{ image_path }}/{{ item.iso }}"
    # Configure SPICE graphics with clipboard sharing
    graphics:
      type: spice
      listen: 0.0.0.0
      autoport: yes
      image_compression: off
    # Configure channels for SPICE features
    channels:
      - type: spicevmc
        target_type: virtio
        target_name: com.redhat.spice.0
    # Configure USB redirection through SPICE
    redirdevs:
      - type: spicevmc
        bus: usb
      - type: spicevmc
        bus: usb
    # Configure audio through SPICE
    sound:
      - model: ich9
    # Configure clock to use local time
    clock:
      offset: localtime
    networks:
      - network: default
    osinfo:
      name: fedora-unknown
      require: false
    autostart: no  # Don't start VMs automatically
    state: present
  register: virt_result
  ignore_errors: true
  loop: "{{ vms_to_create }}"

- name: Ensure VMs are running
  community.libvirt.virt:
    name: "{{ item.name }}"
    state: running
    uri: qemu:///system
  loop: "{{ vms_to_create }}"
  ignore_errors: true

- name: Show the result of VM creation
  debug:
    var: virt_result
